<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" />
        </div>
        <ul class="nav-links">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('message') }}">Message</a></li>
          <li><a href="{{ url_for('read') }}">Read Messages</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
